{% extends 'master.html' %}

{% block header %}
    <title>Dokumente</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'webgui/style.css' %}" />
{% endblock %}
{% block navigation %}{% include 'navigation.html' with activepage="new_document" %}{% endblock %}
{% block page_header %}Dokumente{% endblock %}
{% block body %}
    <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Create" />
    </form>
{% endblock %}

