{% extends 'master.html' %}

{% block header %}
    <title>DMS</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
{% endblock %}
{% block navigation %}{% include 'navigation.html' with activepage="profile" %}{% endblock %}
{% block page_header %}Profile{% endblock %}
{% block body %}
    <p>{{ object.username }}</p>
    <p>{{ object.email }}</p>
    <p>{{ object.is_authenticated }}</p>
    <p>{{ object.last_login }}</p>
    <p>{{ object.groups }}</p>
    <p>{{ object.password }}</p>
{% endblock %}